Variable +Type+Operations

In [4]:
myint=32
myfloat=1.8
mystr= "Aims is in Kigali"

In [8]:
print(myfloat,type(myfloat) )
print(mystr, type(mystr))
print(myint, type(myint))

1.8 <class 'float'>
Aims is in Kigali <class 'str'>
32 <class 'int'>

In [9]:
print(myfloat+ myfloat )
print(mystr+mystr)
print(myint +myint)

3.6
Aims is in KigaliAims is in Kigali
64

In [10]:
myfloat2= float(myint)
myfloat2

32.0

In [11]:
mystr[0]

'A'

In [12]:
mystr[-1]

'i'

In [14]:
mystr[4]

' '

In [15]:
mystr[2:8:2]

'm s'

list, tuple, sets, dictio

In [17]:
mylist=[2, 5, "Aims", 34, 5,67,2, mystr]
mylist

[2, 5, 'Aims', 34, 5, 67, 2, 'Aims is in Kigali']

In [19]:
mylist[-1]

'Aims is in Kigali'

In [23]:
for i in mylist:
    print(f'{i:5}>>>>>> {type(i)}')

    2>>>>>> <class 'int'>
    5>>>>>> <class 'int'>
Aims >>>>>> <class 'str'>
   34>>>>>> <class 'int'>
    5>>>>>> <class 'int'>
   67>>>>>> <class 'int'>
    2>>>>>> <class 'int'>
Aims is in Kigali>>>>>> <class 'str'>

In [25]:
mylistapp=mylist+[1,2,3,0.45,6,90]

In [26]:
mylistapp[2:10:3]

['Aims', 67, 1]

In [27]:
m = [{"name": "Alice", "age": 20}, {"name": "Bob", "age": 25}]

# Flow control

In [30]:
a=10
if a>=20:
    print(a)
elif a==10:
    print('this the one')
else:
    print("Not found")

this the one

In [31]:
for i in mylistapp:
    print(i)

2
5
Aims
34
5
67
2
Aims is in Kigali
1
2
3
0.45
6
90

In [32]:
i=1
while (i<=10):
    print(i**2)
    i+=1

1
4
9
16
25
36
49
64
81
100

In [33]:
def power(number, base):
    '''commdkjdsjksdjkvsjnfjnfjf
    fnfdjnfdjnf  nb
    djkdjkvjnnsjfnjfv
    '''
    return number, base, number**base

In [34]:
power(10,2)

(10, 2, 100)